#headline {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, violet);
    background-size: 55% 100%; /* Verlängert den Verlauf */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#choice {
    text-align: center;
    font-size: 3rem;
    color: rgb(41, 41, 41)
}

#images {
    margin-top: 5%;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center; /* zentriert Bilder auf großen Bildschirmen */
}

.bild-abstand {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.bild-abstand:hover {
    transform: scale(1.09);
    box-shadow: 0 10px 30px rgba(16, 248, 8, 0.548);
    cursor: pointer;
}

/* Mobile-Ansicht: Bilder untereinander anordnen */
@media (max-width: 600px) {
    #images {
        white-space: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 180px
    }

    .bild-abstand {
        display: block;
        margin: 10px 0;
        width: 80vw;   /* Bilder passen sich der Bildschirmbreite an */
        max-width: 200px;
        height: auto;
    }
}