#headline {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, violet);
    background-size: 55% 100%; /* Verlängert den Verlauf */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

#choice {
    text-align: center;
    font-size: 3rem;
    color: rgb(41, 41, 41)
}

#images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px; /* Abstand zwischen den Bildern */
    margin-top: 40px;
}

@media (max-width: 600px) {
    #headline {
        font-size: 2.4rem; /* Kleiner für Handy */
    }

    #images {
        flex-direction: column;
        gap: 0;
        margin-top: 40px;
    }
    #choice
    font-size: 2rem;
}
    .bild-abstand {
        display: block;
        margin: 10px 0;
        width: 80vw;
        max-width: 200px;
        height: auto;
    }
}
.bild-abstand:hover {
    transform: scale(1.09);
    box-shadow: 0 10px 30px rgba(16, 248, 8, 0.548);
    cursor: pointer;
}
